<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
        <div class="map-overlay">
            <!--retour-->
            <button class="return-btn">
                <img src="./assets/icons/chevron-left-solid.svg">
            </button>
            <!--recherche-->
            <div class="search-container">
                <button class="search-btn" (click)="toggleSearch()" >
                    <img src="./assets/icons/magnifying-glass-solid.svg">
                </button>
                <div class="search-input-wrapper" [ngClass]="{'show': showSearch}">
                    <input type="text" class="search-input">
                </div>
            </div>
            <!--réglages-->
            <div class="settings-container">
                <button class="settings-btn" (click)="toggleSettings()" >
                    <img src="./assets/icons/sliders-solid.svg">
                </button>
                <div class="settings-wrapper" [ngClass]="{'show': showSettings}">
                    <div class="settings-othertype-container"></div>
                </div>
            </div>
            <!--géolocalisation--> 
            <button class="locate-user-btn" (click)="locateUser()">
                <img src="./assets/icons/location-crosshairs-solid.svg">
            </button>
            <!--niveau de zoom-->
            <div class="zoom-level-info">
                {{ currentZoomLevel }}
            </div>
        </div>   
    </div>
</div>