<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
        <div class="map-overlay">
            <!--retour-->
            <button class="return-btn">
                <img src="./assets/icons/chevron-left-solid.svg">
            </button>
            <!--recherche-->
            <div class="search-container">
                <button class="search-btn" (click)="toggleSearch()" >
                    <img src="./assets/icons/magnifying-glass-solid.svg">
                </button>
                <div class="search-input-wrapper" [ngClass]="{'show': showSearch}">
                    <input type="text" id="search-input" class="search-input" (keydown)="searchEnter($event)">
                    <!--bouton valider-->
                    <button class="search-validate-btn" (click)="search()">
                        GO
                    </button>
                </div>
            </div>
            <!--réglages-->
            <div class="settings-container">
                <button class="settings-btn" (click)="toggleSettings()" >
                    <img src="./assets/icons/sliders-solid.svg">
                </button>
                <div class="settings-wrapper" [ngClass]="{'show': showSettings}">
                    <div class="settings-markers-container">
                        <input type="checkbox" id="settings-markers" class="settings-markers-input" name="settings-markers" value="markers">
                        <label for="settings-markers">
                            <img class="settings-markers-img" src="./assets/icons/map-pin-solid.svg">
                        </label>
                        <input type="checkbox" id="settings-frontiers" class="settings-markers-input" name="settings-markers" value="markers">
                        <label for="settings-frontiers">
                            <img class="settings-markers-img" src="./assets/icons/globe-solid.svg">
                        </label>
                        <input type="checkbox" id="settings-lakes" class="settings-markers-input" name="settings-markers" value="markers">
                        <label for="settings-lakes">
                            <img class="settings-markers-img" src="./assets/icons/water-solid.svg">
                        </label>
                </div>
            </div>
            <!--géolocalisation--> 
            <button class="locate-user-btn" (click)="locateUser()">
                <img src="./assets/icons/location-crosshairs-solid.svg">
            </button>
            <!--niveau de zoom-->
            <div class="zoom-level-info">
                {{ currentZoomLevel }}
            </div>
        </div>   
    </div>
</div>