<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
        <div class="map-overlay">
            <button class="return-btn">
                <img src="./assets/icons/chevron-left-solid.svg">
            </button>
            <div class="search-container">
                <input type="text" class="search-input">
                <div class="search-btn">
                    <img src="./assets/icons/magnifying-glass-solid.svg"> 
                </div>       
            </div>
            <div class="settings-container">
                <button class="settings-btn" (click)="toggleSettings()" >
                    <img src="./assets/icons/sliders-solid.svg">
                </button>
                <div class="settings-wrapper" [ngClass]="{'show': showSettings}">
                    <div class="settings-maptype-container">
                        <input type="radio" class="settings-maptype-radio" value="" name="radio" id="radio1">
                        <label class="settings-maptype-label" for="radio1"> 
                            <img class="settings-maptype-label-img" src="./assets/icons/floppy-disk-solid-bk.svg">
                        </label>
                        <input type="radio" class="settings-maptype-radio" value="" name="radio" id="radio2">
                        <label class="settings-maptype-label" for="radio2"> 
                            <img class="settings-maptype-label-img" src="./assets/icons/globe-solid.svg">
                        </label> 
                    </div>
                    <div class="settings-othertype-container">
                    </div>
                </div>
                
                

            </div> 
            <button class="locate-user-btn" (click)="locateUser()">
                <img src="./assets/icons/location-crosshairs-solid.svg">
            </button>
        </div>   
    </div>
</div>